@tailwind base;
@tailwind components;
@tailwind utilities;


.brigthen:hover{
    filter: brightness(110%);
}
.brigthen:active{
    transform: translateY(2px);
}

/* Responsive */
@media (max-width:412px) {
    .responsive{
        display:none;
    }
    .size-responsive{
        font-size:3rem;
    }
}