@tailwind base;
@tailwind components;
@tailwind utilities;

.brigthen:hover {
  filter: brightness(110%);
}
.brigthen:active {
  transform: translateY(2px);
}
.set-width {
  width: fit-content;
}

/* user-profile */
.main-div {
  width: 100%;
  height: fit-content;
  padding: 20px;
  background-color: #191d24;
  border-radius: 4px;
}
.main-container {
  width: inherit;
  display: flex;
}
.image-container {
  margin: 10px;
}
.image {
  box-shadow: 11px 10px 0px #060606;
  border-radius: 10px;
  position: relative;
}
.image-name{
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
.image img {
  border-radius: 10px;
  width: clamp(200px, 450px, 500px);
  height: clamp(150px, 450px, 500px);
}

.bio-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width:inherit;
}
.user-bio{
  margin-bottom: 20px;
}
.name-hire{
  display: flex;
  width: fit-content;
  justify-content: space-between;
}
.name{
  font-size: 3rem;
  color: #fff;
}
.user-bio{
  font-size: 1.2rem;
}
.social-accounts{
  display: flex;
  width: fit-content;
}
.social-media{
  margin:20px;
}
.records{
  margin: auto;
  margin-bottom: 30px;
}
/* Responsive */
@media (max-width: 412px) {
  .responsive {
    display: none;
  }
  .size-responsive {
    font-size: 3rem;
  }
}
/* Profile Div */
@media (max-width:1020px) {
  .main-container{
    flex-direction: column;
  }
  .image-container{
    width:fit-content;
    margin: auto;
  }
  
}